
<aside class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 220px; height: 100vh;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <span class="fs-4">LIWEI POS</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="index.html" class="nav-link active" aria-current="page">Dashboard</a>
    </li>
    <li>
      <a href="inventory.html" class="nav-link link-dark">Inventory</a>
    </li>
  </ul>
  <hr>
</aside>
